<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <link rel="stylesheet" href="../static/css/style.css">
   <title>Lista de Tarefas</title>
</head>

<body>
    <header>
        <div>
            <img src="../static/img/list.png" alt="Uma imagem de um checklist">
        </div>
        
        <h1> {{titulo}} </h1>
      
        <form action="/new" method="POST">
           <input type="text" name="item" id="item" placeholder="Adicione uma tarefa">
           <button id="add" type="submit">Adicionar</button>
        </form>
    </header>

    <article id="msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </article>

    <section>
        {% if tarefas != [] %}
        <a href="/clear">Limpar Lista</a>
        {% endif %}

        {% for i in tarefas %}
        <ul>
            <li class="itens"> {{i.item}}
                <div id="delete">
                    <a href="/delete/{{i.id}}"><i class="uil uil-x"></i></a>
                </div>
            </li>
        </ul>
        
        {% endfor %}
    </section>

    <script src="../static/js/script.js"></script>
</body>
</html>